<!-- views/explore.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <main>
        <header>
            <h1>Welcome to Easy Table Service</h1>
          
        </header>
        <section class="explore-section">
            <div class="welcome-message">
                
                <h2 class="heading1">Easy Table Service</h2>
                <p class="heading2">Welcome to Easy Table Service Discover the authentic tastes of tradition in our specially curated teas and breakfast delights, steeped in flavour, rooted in heritage, and crafted to start your day in the most delightful way. Your journey into a world of culinary delight begins here.</p>
            </div>
            <div class="video-container">
                <iframe width="600" height="515" src="https://www.youtube.com/embed/pq3Otf0zbdk?autoplay=1&mute=1&loop=1&playlist=pq3Otf0zbdk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            
        </section>
        <button onclick="location.href='/explore'" class="button">Explore Menu</button>

    </main>
    <footer>
        &copy; 2024  Easy Table Service
    </footer>
</body>
</html>
